if SHIELD_SPLITWAVE_LEFT

# Name must be less than 16 characters long!
config ZMK_KEYBOARD_NAME
    default "SplitWave"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

config ZMK_USB
    default y

endif

if SHIELD_SPLITWAVE_LEFT || SHIELD_SPLITWAVE_RIGHT

config ZMK_SPLIT
    default y

endif

